body {
    font-family: 'Helvetica Neue', Arial, san-serif;
    font-size: 16px;
}

.app-container {
    margin: 5px;
    /*border: 1px solid #ddd;*/
    max-width: 800px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    background-color: #444;
    padding: 5px;
    margin: 0;
    color: #fff;
}

/* DistrictMap */


.map-container {
    margin: 5px 0;
    /*border: 1px solid blue;*/
}

.map-label-container {
    /*margin: 5px 0;*/
    padding: 5px;
    background-color: #377eb8;
    /*border: 1px solid #ddd;*/
    color: #fff;
    text-align: center;
}

.label-district-name {
    font-weight: 600;
    font-size: 1.2em;
}
.label-district-type {
    font-style: italic;
}


/* Map features*/
.point-marker {
    fill: #fff;
    opacity: 1;
    fill-opacity: 0.7;
    stroke: red;
    stroke-width: 3px;
}

.district-feature {
    fill: #ff7f00;
    fill-opacity: 0.6;
    stroke: #ff7f00;
    stroke-opacity: 0.9;
    stroke-width: 3px;
}

.districts {
    fill: #ff7f00;
    fill-opacity: 0.1;
    stroke: #ff7f00;
    stroke-opacity: 0.9;
    stroke-width: 3px;
}