

/* Marker icon */

.point-marker {
    fill: #eee;
    opacity: 1;
    fill-opacity: 0.9;
    stroke: #222;
    stroke-width: 3px;
}

.point-marker-icon {
    fill: #377eb8;
    stroke: #fff;
    stroke-width: 0.75px;
    stroke-linejoin: round;
}
.point-marker-icon-shadow {
    fill: #444;
    stroke: none;
    opacity: 0.2;
}

/* Highlight feature overlays */

.map-highlight.town {
    fill: #ff7f00;
    fill-opacity: 0.3;
    stroke: #222;
    stroke-width: 1.5px;
    stroke-opacity: 0.9;
}
.map-highlight.school {
    fill: #ffff33;
    fill-opacity: 0.3;
    stroke: #ffff33;
    stroke-width: 1.5px;
    stroke-opacity: 0.9;
}
.map-highlight.county {
    fill: none;
    stroke: #e41a1c;
    stroke-width: 3px;
}
.map-highlight.reservation {
    fill: none;
    stroke: #f781bf;
    stroke-width: 2px;
}